/*Height variables*/
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #0E0B16;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #0E0B16;
  color: #E7DFDD; }

address {
  font-size: 80%;
  margin: 0px;
  color: #ddd; }

body {
  background: #dfdce3;
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #0E0B16; }

.tab-content {
  border-left: 1px solid #E7DFDD;
  border-right: 1px solid #E7DFDD;
  border-bottom: 1px solid #E7DFDD;
  padding: 10px; }

.carousel {
  background: #4717F6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }

#carouselButton {
  position: absolute;
  right: 0px;
  bottom: 0px; }


.modal-header {
  background: #2c3531;
  color: #E7DFDD; }

.modal-body {
  background: #d1e8e2;
  color: #2c3531;
}
  

.card {
  border-radius: 10px; }

.card-body {
  background: #d1e8e2;
  color: #0E0B16; }

