body{
    background-color: aliceblue;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.about-us{
    padding-top: 2rem;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.corporate-box{
    text-align: center;
}

.footer{
    background-color: rgb(18, 16, 16);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: floralwhite

}

.list-unstyled li a{
    color: floralwhite
}

.list-unstyled li a:hover,
.list-unstyled li a:focus{
    color:#9575cd;
    text-decoration: none;
}

.jumbotron{
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    background-color: darkcyan;
    color: floralwhite;
}

.address{
    margin: 0px auto;
    font-size: 80%;
}

.btn-link{
    text-decoration: none;

}

a[data-toggle="modal"]:hover{
    cursor:pointer;
}


div.form-check{
    padding-bottom: 7px;
}

label.form-check-label{
    font-size: 80%;
}

.carousel{
    background: darkcyan;
    border-radius: 16px;
}

.carousel-item{
    height: 300px;

}


.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    border-radius: 16px;
}

div.modal-body{
    background: darkgray;
}

div.modal-header{
    background: darkcyan;
}

#carouselButton{
    position: absolute;
    right: 0px;
    bottom: 0px
}