.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.about-us{
    padding-top: 2rem;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.corporate-box{
    text-align: center;
}

.footer{
    background-color: rgb(18, 16, 16);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: floralwhite

}

.list-unstyled li a{
    color: floralwhite
}

.list-unstyled li a:hover,
.list-unstyled li a:focus{
    color:#9575cd;
    text-decoration: none;
}

.jumbotron{
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    background: #9575cd;
    color: floralwhite;
}

.address{
    margin: 0px auto;
    font-size: 80%;
}
